@model Practice.VM.VmSale
@{
    ViewBag.Title = "Index";
    var L = ViewData["List"] as List<Practice.Models.SaleMaster>;
    var BV = Model.SaleId > 0 ? "Update" : "Add";
    var d = Model.CreateDate == null ? "" : Convert.ToDateTime(Model.CreateDate).ToString("yyyy-mm-dd");
    var indexItem = 0;
}

@using (Ajax.BeginForm("Index", "Home",
    new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.SaleId)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-4">
            <div class="form-control">
                @Html.LabelFor(x => x.CustomeName)
                @Html.TextBoxFor(x => x.CustomeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.CustomeName, "", new { @class = "text-danger" })
            </div>
            <div class="form-control">
                @Html.LabelFor(x => x.Gender)
                @Html.LabelFor(x => x.Gender, "Male")
                @Html.RadioButtonFor(x => x.Gender, "Male")
                @Html.LabelFor(x => x.Gender, "Female")
                @Html.RadioButtonFor(x => x.Gender, "Female")
            </div>
            <div class="form-control">
                @Html.LabelFor(x => x.Photo)
                <input type="file" name="img" />
            </div>
            <div class="form-control">
                @Html.LabelFor(x => x.CreateDate)
                <input type="date" name="CreateDate" id="CreateDate" value="@d" />
            </div>
            <div class="form-control ">
                @Html.LabelFor(x => x.Type)
                @Html.DropDownList("select", (IEnumerable<SelectListItem>)ViewData["item"], (Model.Type.IsEmpty()) ? "Choose" : Model.Type)
            </div>
            <div class="form-control">
                <button class="btn btn-success" type="submit" id="btnUpdate">@BV</button>
                <a class="btn btn-success" href="/Home/Index">Reset</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="col-4">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        ProductName
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        <button class="btn btn-secondary" type="button" onclick="Additem()">AddItem</button>
                    </th>
                </tr>
                <tbody id="tSD">
                    @foreach (var item in Model.SaleDetails)
                    {
                        <tr id="tr_@indexItem">
                            <td>
                                <input type="text" id="ProductName_@indexItem" name="ProductName" value="@item.ProductName" />
                            </td>
                            <td>
                                <input type="number" id="Price_@indexItem" name="Price" value="@item.Price" />
                            </td>
                            <td>
                                <a class="btn btn-danger" href="javascript:void(0)" onclick="RemoveItem(@indexItem)">X</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-4">

        </div>
    </div>

    <br />
    @*@Html.LabelFor(x => x.Gender)
        @Html.LabelFor(x => x.Gender, "Male")
        @Html.RadioButtonFor(x => x.Gender, "Male")
        @Html.LabelFor(x => x.Gender, "Female")
        @Html.RadioButtonFor(x => x.Gender, "Female")*@
    <br />
    @*@Html.LabelFor(x => x.Photo)
        <input type="file" name="img" />*@
    <br />
    @*@Html.LabelFor(x => x.CreateDate)
        <input type="date" name="CreateDate" id="CreateDate" value="@d" />*@
    @*<br />
        @Html.DropDownList("select", (IEnumerable<SelectListItem>)ViewData["item"], (Model.Type.IsEmpty()) ? "Chose" : Model.Type)
        <br />*@
    @*<button type="submit" id="btnUpdate">@BV</button>
        <a class="btn btn-light" href="/Home/Index">Reset</a>*@
    @*<table class="table table-bordered table-hover">
            <tr>
                <th>
                    ProductName
                </th>
                <th>
                    Price
                </th>
                <th>
                    <button type="button" onclick="Additem()">AddItem</button>
                </th>
            </tr>
            <tbody id="tSD">
                @foreach (var item in Model.SaleDetails)
                {
                    <tr id="tr_@indexItem">
                        <td>
                            <input type="text" id="ProductName_@indexItem" name="ProductName" value="@item.ProductName" />
                        </td>
                        <td>
                            <input type="number" id="Price_@indexItem" name="Price" value="@item.Price" />
                        </td>
                        <td>
                            <a class="btn btn-danger" href="javascript:void(0)" onclick="RemoveItem(@indexItem)">X</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
}
<table class="table table-bordered table-dark table-hover">
    <tr class="bg-dark">
        <th>
            CustomerName
        </th>
        <th>
            Gender
        </th>
        <th>
            Photo
        </th>
        <th>
            Type
        </th>
        <th>
            CreateDate
        </th>
        <th>
            Actions
        </th>
    <tr />
    @foreach (var item in L)
    {
        <tr>
            <td>
                @item.CustomeName
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                <img src="@item.Photo" width="180" height="180" />
            </td>
            <td>
                @item.Type
            </td>

            <td>
                @item.CreateDate
            </td>
         
            <td>
                <a class="btn btn-secondary" href="/Home/Index?id=@item.SaleId">Edit</a>|
                <a class="btn btn-danger" href="/Home/Delete?id=@item.SaleId" onclick="return confirm('Are Sure delete this data??')">Delete</a>
            </td>

        </tr>

    }

</table>
<script>
    var indexItem =@indexItem;
    function Additem() {
        indexItem += 1;
        var Trs = `<tr id=tr_${indexItem}>
         <td>
                        <input type="text" id="ProductName_@indexItem" name="ProductName" value=" " />
                    </td>
                    <td>
                        <input type="number" id="Price_@indexItem" name="Price" value=" " />
                    </td>
                    <td>
                        <a class="btn btn-danger" href="javascript:void(0)" onclick="RemoveItem(${indexItem})">X</a>
                    </td>
        </tr>`;
        document.getElementById('tSD').innerHTML += Trs;
    }
    function RemoveItem(id) {
        document.getElementById('tr_' + id).remove();
    }
</script>
